<%- include("header") -%>
<h2>This is the about page</h2>
<p>In this page everyone can make the list of things which they wamt to do in the upcoming. After the work is done they can mark the work as complete.</p>
<%- include("header") -%>